/* row */
.row {
  width: 1246px;
  height: 68px;
  border-radius: 24px;
  box-sizing: border-box;
  border: 1px solid var(--borderAdopted, #c7e8e6);
  background: var(--bgAdopted, #d1f2f0);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: row-reverse;
  flex-shrink: 0;
  padding-top: calc((68px - 25px) / 2);
  margin-top: 12px;
}

.soldierStatus {
  width: 25px;
  height: 11.785px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 130%;
  text-align: end;
  color: #20b487;
  margin-right: 40px;
  margin-left: 10px;
}
.row .separation {
  margin-right: 15px;
  margin-top:-1.8%;
  width: 2px;
  height: 65px;
  border: 2px solid #c7e8e6;
}
.soldierName {
  color: var(--dblue);
  direction: rtl;
  font-family: "Inter-Light", Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  text-align: right;
  letter-spacing: 0;
  line-height: 130%;
  line-height: 20.8px;
  width: 300px;
  margin-right: 10px;
}


.adoptingTitle {
  color: var(--dblue);
  direction: rtl;
  font-family: "Inter-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0;
  line-height: 130%;
  line-height: 20.8px;
  white-space: nowrap;
  left: 755px;
  text-align: right;
  color: #23497e;
}

.adoptingName {
  background-color: var(--variable-collection-fff);
  border: 1px solid;
  border-color: var(--variable-collection-mainborder);
  border-radius: 24px;
  box-sizing: border-box;
  width: 275px;
  height: 39px;
  background: #ffffff;
  border: 1px solid #e2e8f0;
  border-radius: 24px;
  margin-top: -10px;
  margin-right: 10px;
  
}

.adoptingName input {
  box-sizing: border-box;
  border: 1px solid #e2e8f0;
  border-radius: 24px;
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
}

.adoptingName input[lang="hebrew"] {
  direction: rtl;
  text-align: end;
  caret: end;
}

.adoptingName input::placeholder {
  direction: rtl;
  text-align: end;
  caret-color: auto;
}

.UpdateTitle {
  
  /* position: absolute; */
  width: 46px;
  height: 21px;
  left: 399px;
  top: 26px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  text-align: right;
  color: #23497e;
  margin-right: 20px;
}

.UpdateValue {
  box-sizing: border-box;
  width: 373px;
  height: 39px;
  flex-shrink: 0;
  left: 15px;
  top: 17px;
  background: #ffffff;
  border: 1px solid #e2e8f0;
  border-radius: 24px;
  margin-top: -10px;
  margin-right: 10px;
}

.UpdateValue input {
  box-sizing: border-box;
  border: 1px solid #e2e8f0;
  border-radius: 24px;
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
}
.UpdateValue input[lang="hebrew"] {
  direction: rtl;
  text-align: end;
  caret: end;
} 

.UpdateValue input::placeholder {
  direction: rtl;
  text-align: end;
  caret-color: auto;
}
