.container {
  background-color: #ffffff;
  border: 1px solid;
  border-color: var(--variable-collection-mainborder);
  border-radius: 100px;
  height: 98px;
  overflow: hidden;
  position: relative;
  width: 970px;
  /* display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 16px;
  justify-items: center;
  align-items: center;
  text-align: center; */
}

.title {
  font-size: 20px; /* Adjust the font size as needed */
  background-color: #f2f2f2; /* Background color for the title */
  padding: 8px; /* Adjust the padding as needed */
}

.form {
    display: flex;
    flex-direction: row-reverse
}

.button-container {
  height: 78px;
  width: 138px;
}

.button-container .add-btn {
  background-color: var(--dblue);
  border-radius: 100px;
  box-shadow: 0px 2px 2px #00000040;
  height: 78px;
  left: 0;
  position: fixed;
  top: 0;
  width: 138px;
}
