
body {
  margin: 0;
    font-family: 'Rubik', sans-serif; /* Use 'Rubik' as the first choice and a generic sans-serif font as a fallback. */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace; */
    font-family: 'Rubik', monospace;
}

.root {
  --borderadopted: rgba(199, 232, 230, 1);
  --dblue: rgba(35, 73, 126, 1);
  --hblue: rgba(14, 165, 233, 1);
  --inputgrey: rgba(241, 245, 249, 1);
  --variable-collection-activeinput: rgba(240, 249, 255, 1);
  --variable-collection-activeinputstroke: rgba(14, 165, 233, 1);
  --variable-collection-BG: rgba(241, 245, 249, 1);
  --variable-collection-bgadopted: rgba(209, 242, 240, 1);
  --variable-collection-borderadopted: rgba(185, 221, 219, 1);
  --variable-collection-fff: rgba(255, 255, 255, 1);
  --variable-collection-mainborder: rgba(226, 232, 240, 1);
}
